.main {
  background: #f1f1f1;
  transition-duration: 0.3s;
  // transform: translate3d(0, 0, -10vw) rotateY(-35deg);
  transform-style: preserve-3d;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    .nav-active & {
      background: rgba(0,0,0,0.1);
      z-index: 5;
    }
  }
}