.main {
  transition-duration: 0.2s;
  transform-style: preserve-3d;
  transition-timing-function: ease-in-out;
  .is-nav-toggled-yes & {
    // transform: translate3d(0, 0, -10vw) rotateY(-35deg);
    pointer-events: none;
    transform: translate3d( calc(100vw - #{$offscreen-nav-offset}), 0, 0 );
    @media (max-width: 600px) {
      transform: translate3d( calc(100% - #{$offscreen-nav-offset-mobile}), 0, 0 );
    }  
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    .nav-active & {
      background: rgba(0,0,0,0.1);
      z-index: 5;
    }
  }
}