.nav-toggle {
  padding: 20px 10px 30px 8px;
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  height: 29px;
  width: auto;
  display: block;
  background: transparent;
  border: 0px;
  &:before {
    content: "";
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 26px;
    height: 7px;
    display: block;
  }
  .is-nav-toggled-yes & {
    &:after {
      content: "";
      width: 100%;
      height: calc(100vh - 40px);
      position: absolute;
      top: 40px;
    }
  }
}