.newslist {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 53px;
  a {
    text-decoration: none;
    color: #404040;
  }
  &__heading {
  }
  &__item {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    padding-left: 11px;
    position: relative;
  }  
  &__source {
    display: block;
    font-size: 11px;
  }
  &__colorbar {
    width: 3px;
    height: 18px;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__title {
    font-size: 14px;
    font-weight: 600;
    display: inline;
    margin-right: 8px;
  }
  &__bullet {
    font-size: 12px;
    display: inline;
    padding-right: 8px;
    color: rgba(0,0,0,0.35);
  }
  &__excerpt {
    display: inline;
    font-size: 14px;
    line-height: 115%;
    padding-right: 5px;
  }
  &__content {
    display: block;
    padding-right: 5px;
    width: calc(100% - 40px);
    line-height: 115%;
  }
  &__timestamp {
    font-size: 12px;
    display: inline;
    color: rgba(0,0,0,0.35);
    font-weight: 600;
  }
    &__image {
    width: 40px;
    height: 40px;
    margin-top: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}