@mixin nav-text {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 36px;
  text-align: left;
  text-transform: lowercase;
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.offscreen-nav {
  position: fixed;
  z-index: 9;
  height: 100vh;
  overflow-y: scroll;
  width: calc(100vw - #{$offscreen-nav-offset});
  top: 0;
  transform: translate3d( calc(-100vw + #{$offscreen-nav-offset}), 0, 0 );
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  font-size: 14px;
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @media (max-width: 600px) {
    width: calc(100vw - #{$offscreen-nav-offset-mobile});
    transform: translate3d( calc(-100vw + #{$offscreen-nav-offset-mobile}), 0, 0 );
  }
  a {
    text-decoration: none;
  }
  &__header {
    text-align: left;
    padding: 40px 20px 10px 20px;
    background: #2b5876; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b5876, #4e4376); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2b5876, #4e4376);
  }
  &__header-title {
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 600;
    color: white;

  }
  &__header-subtitle {
    font-size: 16px;
    font-weight: 100;
    color: white;
  }
  &__list {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__title {
    @include nav-text;
    text-transform: Capitalize;
    margin: 0 0 16px 0;
    width: 100%;
    border-bottom: 1px solid black;
  }
  &__item {
    width: auto;
    display: block;
    position: relative;
    text-align: center;
    margin: 0 14px 14px 0;
    &--photos {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      height: 70px;
      margin-top: 20px;
    }
  }
  &__search {
    padding: 0 10px 0 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  &__item-name {
    @include nav-text;
    font-weight: 300;
    line-height: 22px;
    padding: 4px 6px 4px 6px;
    width: 100%;
    display: block;
    position: relative;
    background: transparent;
    border: 0;
    box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    border: 1px solid #404040;
    // &:before {
    //   content: "";
    //   width: 5px;
    //   height: 5px;
    //   display: block;
    //   border-radius: 50%;
    //   position: absolute;
    //   left: 1px;
    //   top: 8px;
    //   border: 2px solid rgba(0,0,0,0.95);
    // }
  }
  &__item input[type="radio"] {
    display: none;
    &:checked + label {
      box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
      transform: translate3d(1px,1px,0);
      background-image: $background-pattern-slash;
    }
  }
  &__item-sources {
    @include nav-text;
    font-size: 9px;
    line-height: 140%;
  }
  &__searchinput {
    height: 40px;
    width: 100%;
    display: block;
    border: 0;
    background: transparent;
    @include nav-text;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgba(black,0.5);
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(black,0.5);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba(black,0.5);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(black,0.5);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba(black,0.5);
    }
  }
  &__submit {
    display: none;
  }
  &__credits {
    width: 100%;
    padding-left: 20px;
    display: inline-block;
    font-size: 11px;
    margin: 35px 0 15px;
    a, div {
      display: inline;
      font-size: 12px;
    }
    a {
      text-decoration: underline;
      color: #404040;
      padding-left: 5px;
      &:before {
        display: none;
      }
    }
  }
}