.sources {
  width: 100vw;
  left: 50%;
  transform: translate3d(-50%,0,0);
  position: relative;
  padding: 14px 8px;
  margin-bottom: 9px;
  font-size: 11px;
  letter-spacing: 0.025em;
  line-height: 145%;
  background-color: #f1f1f1;
  background-image: $background-pattern-slash;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  &__title {
    font-weight: 600;
    display: inline;
  }
}