html,
body {
  margin: 0; }

* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  letter-spacing: 0.005em;
  backface-visibility: hidden;
  font-smoothing: antialiased; }

body {
  background: #f1f1f1;
  color: #404040; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.u-visually-hidden {
  position: absolute;
  left: -10000px;
  opacity: 0; }

.u-checkbox {
  position: absolute;
  opacity: 0; }
  .u-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.08em;
    padding-left: 50px; }
    .u-checkbox + label::selection {
      display: none; }
  .u-checkbox + label:before {
    content: '';
    margin-right: 10px;
    margin-top: 7px;
    width: 35px;
    height: 35px;
    background: white;
    position: absolute;
    left: 0;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }
  .u-checkbox:checked + label:before {
    background: rgba(0, 0, 0, 0.1); }
  .u-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 11px;
    top: 12px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: -4px 0 0 white, -2px 0 0 white, 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white, 4px -10px 0 white, 4px -12px 0 white, 4px -14px 0 white, 4px -16px 0 white;
    transform: rotate(45deg); }

.is-nav-toggled-yes {
  max-height: 100vh;
  overflow: hidden; }

.newslist {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 50px; }
  .newslist a {
    text-decoration: none;
    color: #404040; }
  .newslist__item {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    padding-left: 11px;
    position: relative; }
    .newslist__item:after {
      content: "";
      width: 100vw;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: -9px;
      background: rgba(0, 0, 0, 0.15);
      left: 50%;
      transform: translate3d(-50%, 0, 0); }
  .newslist__source {
    display: block;
    font-size: 11px; }
  .newslist__colorbar {
    width: 3px;
    height: 18px;
    background: red;
    position: absolute;
    left: 0;
    top: 0; }
  .newslist__title {
    font-size: 14px;
    font-weight: 600;
    display: inline;
    margin-right: 8px; }
  .newslist__bullet {
    font-size: 12px;
    display: inline;
    padding-right: 8px;
    color: rgba(0, 0, 0, 0.35); }
  .newslist__excerpt {
    display: inline;
    font-size: 14px;
    line-height: 115%;
    padding-right: 5px; }
  .newslist__content {
    display: block;
    padding-right: 5px;
    width: calc(100% - 90px);
    line-height: 115%; }
  .newslist__timestamp {
    font-size: 12px;
    display: inline;
    color: rgba(0, 0, 0, 0.35);
    font-weight: 600; }
  .newslist__image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-top: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

.main {
  transition-duration: 0.2s;
  transform-style: preserve-3d;
  transition-timing-function: ease-in-out; }
  .is-nav-toggled-yes .main {
    pointer-events: none;
    transform: translate3d(calc(100vw - 100px), 0, 0); }
    @media (max-width: 600px) {
      .is-nav-toggled-yes .main {
        transform: translate3d(calc(100% - 40px), 0, 0); } }
  .main:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition-duration: 0.2s; }
    .is-nav-toggled-yes .main:after {
      background: rgba(0, 0, 0, 0.4);
      z-index: 5; }

.logo {
  display: block;
  padding: 10px;
  font-size: 11px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-align: right;
  position: absolute;
  right: 0;
  top: 6px;
  color: white; }

.nav-toggle {
  padding: 17px 10px 28px 8px;
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  height: 29px;
  width: auto;
  display: block;
  background: transparent;
  border: 0px; }
  .nav-toggle:before {
    content: "";
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 26px;
    height: 7px;
    display: block; }
  .is-nav-toggled-yes .nav-toggle:after {
    content: "";
    width: 100%;
    height: calc(100vh - 40px);
    position: absolute;
    top: 40px; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.offscreen-nav {
  position: fixed;
  z-index: 9;
  height: 100vh;
  overflow-y: scroll;
  width: calc(100vw - 100px);
  top: 0;
  transform: translate3d(calc(-100vw + 100px), 0, 0);
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  font-size: 14px;
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 600px) {
    .offscreen-nav {
      width: calc(100vw - 40px);
      transform: translate3d(calc(-100vw + 40px), 0, 0); } }
  .offscreen-nav a {
    text-decoration: none; }
  .offscreen-nav__header {
    text-align: left;
    padding: 40px 20px 10px 20px;
    background: #2b5876;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b5876, #4e4376);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2b5876, #4e4376); }
  .offscreen-nav__header-title {
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 600;
    color: white; }
  .offscreen-nav__header-subtitle {
    font-size: 16px;
    font-weight: 100;
    color: white; }
  .offscreen-nav__list {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .offscreen-nav__title {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 36px;
    text-align: left;
    text-transform: lowercase;
    font-variant-ligatures: common-ligatures;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-transform: Capitalize;
    margin: 0 0 16px 0;
    width: 100%;
    border-bottom: 1px solid black; }
  .offscreen-nav__item {
    width: auto;
    display: block;
    position: relative;
    text-align: center;
    margin: 0 14px 14px 0; }
    .offscreen-nav__item--photos {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      height: 70px;
      margin-top: 20px; }
  .offscreen-nav__search {
    padding: 0 10px 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .offscreen-nav__item-name {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 36px;
    text-align: left;
    text-transform: lowercase;
    font-variant-ligatures: common-ligatures;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 22px;
    padding: 4px 6px 4px 6px;
    width: 100%;
    display: block;
    position: relative;
    background: transparent;
    border: 0;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #404040; }
  .offscreen-nav__item input[type="radio"] {
    display: none; }
    .offscreen-nav__item input[type="radio"]:checked + label {
      box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
      transform: translate3d(1px, 1px, 0); }
  .offscreen-nav__item-sources {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 36px;
    text-align: left;
    text-transform: lowercase;
    font-variant-ligatures: common-ligatures;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 9px;
    line-height: 140%; }
  .offscreen-nav__searchinput {
    height: 40px;
    width: 100%;
    display: block;
    border: 0;
    background: transparent;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 36px;
    text-align: left;
    text-transform: lowercase;
    font-variant-ligatures: common-ligatures;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; }
    .offscreen-nav__searchinput:focus {
      outline: none; }
    .offscreen-nav__searchinput::placeholder {
      color: rgba(0, 0, 0, 0.5); }
    .offscreen-nav__searchinput ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.5); }
    .offscreen-nav__searchinput ::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.5); }
    .offscreen-nav__searchinput :-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(0, 0, 0, 0.5); }
    .offscreen-nav__searchinput :-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.5); }
  .offscreen-nav__submit {
    display: none; }
  .offscreen-nav__credits {
    width: 100%;
    padding-left: 20px;
    display: inline-block;
    font-size: 11px;
    margin: 35px 0 15px; }
    .offscreen-nav__credits a, .offscreen-nav__credits div {
      display: inline;
      font-size: 12px; }
    .offscreen-nav__credits a {
      text-decoration: underline;
      color: #404040;
      padding-left: 5px; }
      .offscreen-nav__credits a:before {
        display: none; }

.header {
  text-align: center;
  padding: 12px 0 10px 0;
  border-bottom: 1px solid #404040;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 45px;
  background: #f1f1f1;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background: #4e4376;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); }
  .is-nav-toggled-yes .header {
    transform: translate3d(calc(100vw - 100px), 0, 0); }
    @media (max-width: 600px) {
      .is-nav-toggled-yes .header {
        transform: translate3d(calc(100% - 40px), 0, 0); } }
  .header__title {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.035em;
    padding-top: 5px;
    color: white; }

.sources {
  width: 100vw;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  position: relative;
  padding: 14px 8px;
  margin-bottom: 9px;
  font-size: 11px;
  letter-spacing: 0.025em;
  line-height: 145%;
  background-color: #f1f1f1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .sources__title {
    font-weight: 600;
    display: inline; }
