html,
body {
  margin: 0; }

* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  letter-spacing: 0.005em;
  backface-visibility: hidden; }

body {
  background: #f1f1f1;
  color: #404040; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.u-visually-hidden {
  position: absolute;
  left: -10000px;
  opacity: 0; }

.u-checkbox {
  position: absolute;
  opacity: 0; }
  .u-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.08em;
    padding-left: 50px; }
    .u-checkbox + label::selection {
      display: none; }
  .u-checkbox + label:before {
    content: '';
    margin-right: 10px;
    margin-top: 7px;
    width: 35px;
    height: 35px;
    background: white;
    position: absolute;
    left: 0;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }
  .u-checkbox:checked + label:before {
    background: rgba(0, 0, 0, 0.1); }
  .u-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 11px;
    top: 12px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: -4px 0 0 white, -2px 0 0 white, 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white, 4px -10px 0 white, 4px -12px 0 white, 4px -14px 0 white, 4px -16px 0 white;
    transform: rotate(45deg); }

.newslist {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 53px; }
  .newslist a {
    text-decoration: none;
    color: #404040; }
  .newslist__item {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    padding-left: 11px;
    position: relative; }
  .newslist__source {
    display: block;
    font-size: 11px; }
  .newslist__colorbar {
    width: 3px;
    height: 18px;
    background: red;
    position: absolute;
    left: 0;
    top: 0; }
  .newslist__title {
    font-size: 14px;
    font-weight: 600;
    display: inline;
    margin-right: 8px; }
  .newslist__bullet {
    font-size: 12px;
    display: inline;
    padding-right: 8px;
    color: rgba(0, 0, 0, 0.35); }
  .newslist__excerpt {
    display: inline;
    font-size: 14px;
    line-height: 115%;
    padding-right: 5px; }
  .newslist__content {
    display: block;
    padding-right: 5px;
    width: calc(100% - 90px);
    line-height: 115%; }
  .newslist__timestamp {
    font-size: 12px;
    display: inline;
    color: rgba(0, 0, 0, 0.35);
    font-weight: 600; }
  .newslist__image {
    width: 90px;
    height: 90px;
    margin-top: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

.main {
  transition-duration: 0.2s;
  transform-style: preserve-3d;
  transition-timing-function: ease-in-out; }
  .is-nav-toggled-yes .main {
    pointer-events: none;
    transform: translate3d(calc(100vw - 100px), 0, 0); }
    @media (max-width: 600px) {
      .is-nav-toggled-yes .main {
        transform: translate3d(calc(100% - 40px), 0, 0); } }
  .main:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none; }
    .nav-active .main:after {
      background: rgba(0, 0, 0, 0.1);
      z-index: 5; }

.logo {
  display: block;
  padding: 8px 10px 10px 50px;
  font-size: 11px;
  font-weight: 400;
  line-height: 160%;
  text-align: right;
  position: absolute;
  right: 0;
  top: 4px; }

.nav-toggle {
  padding: 14px 10px 24px 8px;
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  height: 29px;
  width: auto;
  display: block;
  background: #f1f1f1;
  border: 0px; }
  .nav-toggle:before {
    content: "";
    border-top: 2px solid #404040;
    border-bottom: 2px solid #404040;
    width: 26px;
    height: 7px;
    display: block; }

.offscreen-nav {
  position: fixed;
  z-index: 9;
  height: 100vh;
  overflow-y: scroll;
  width: calc(100vw - 100px);
  top: 0;
  transform: translate3d(calc(-100vw + 100px), 0, 0);
  background: orange;
  padding: 20px 0 0 20px;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  font-size: 14px; }
  @media (max-width: 600px) {
    .offscreen-nav {
      width: calc(100vw - 40px);
      transform: translate3d(calc(-100vw + 40px), 0, 0); } }
  .offscreen-nav__item {
    width: 100%;
    float: left;
    color: white;
    text-align: left; }
    .offscreen-nav__item a {
      text-decoration: none;
      color: white;
      font-size: 14px;
      font-weight: 100;
      letter-spacing: 0.08em;
      line-height: 40px;
      padding: 0 2px 0 10px;
      width: 100%;
      text-align: left;
      display: block; }
    .offscreen-nav__item--photos {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      height: 70px;
      margin-top: 20px; }
    .offscreen-nav__item--small {
      display: inline;
      font-size: 11px; }
      .offscreen-nav__item--small a, .offscreen-nav__item--small div {
        display: inline;
        font-size: 12px; }
      .offscreen-nav__item--small a {
        text-decoration: underline; }
  .offscreen-nav__search {
    height: 40px;
    width: 100%;
    max-width: 400px;
    display: block;
    border: 0;
    background: transparent;
    padding: 0 10px;
    margin: 8px 0 0 0;
    text-align: left;
    color: white;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.08em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .offscreen-nav__search:focus {
      outline: none; }
    .offscreen-nav__search::placeholder {
      color: white; }

.header {
  text-align: center;
  padding: 7px 0 5px 0;
  border-bottom: 1px solid #404040;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  background: #f1f1f1;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }
  .is-nav-toggled-yes .header {
    transform: translate3d(calc(100vw - 100px), 0, 0); }
    @media (max-width: 600px) {
      .is-nav-toggled-yes .header {
        transform: translate3d(calc(100% - 40px), 0, 0); } }
  .header__title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.025em;
    padding-top: 5px; }
